.sidebar {
    position: fixed;          /* Sidebar fixé */
    top: 64px;                /* hauteur du navbar */
    left: 0;
    width: 80px;              /* ou width: 250px si expanded */
    height: calc(100vh - 64px); /* occupe TOUT l’écran sous la navbar */
    background: #427753;
    color: white;
    padding: 15px 0;
    overflow-y: auto;         /* scroll si contenu long */
    transition: width 0.25s ease;
    z-index: 50;
}

/* expanded */
.sidebar.expanded {
    width: 250px;
}
